/* fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common styles */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Watch Live & Top Banner styles */
.copa-america{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 677px;
    background-color: #2D25A0;
}
.copa-america-title{
    /* padding-left: 156px;
    padding-right: 102px;
    padding-bottom: 169px;
    padding-top: 207px; */
    padding: 207px 102px 169px 156px;
}
.copa-america-title .top-heading{
    color: white;
    font-size: 64px;
    font-weight: 700;
    /* margin-top: 0;
    margin-bottom: 27px; */
    margin: 0 0 27px 0;
}
.copa-america-title .watch-live{
    width: 168px;
    height: 44px;
    padding: 0;
    border: 0;
    background-color: #E02C6D;
}
.copa-america-title .watch-live a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
}
.copa-america-title .watch-live .fa-arrow-right{
    margin-left: 8px;
}
.copa-america .top-banner{
    /* padding-right: 141px;
    padding-top: 153px;
    padding-bottom: 86px; */
    padding: 153px 141px 86px 0;
}
.top-banner img{
    width: 556px;
    height: 438px;
}

/* ==================
   top players styles
   ================== */

.centering-players{
    display: flex;
    justify-content: center;
}
.top-players{
    margin: 70px 0 100px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
}
.player{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 426px;
    padding: 15px 15px 33px 15px;
    background-color: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player .player-image img{
    width: 300px;
    height: 256px;
}
.player .player-bio .player-name{
    font-size: 28px;
    color: #18191F;
    font-weight: 700;
    margin: 16px 0 10px 0;
}
.player .player-bio .player-info{
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: #6C6C6C;
}

/* ===============
    footer styles
   =============== */

.centering-footer{
    display: flex;
    justify-content: center;
}
.logo-icons-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 480px;
    height: 213px;
    margin: 60px 0 63px 0;
}
.logo-icons-copyright .logo{
    display: flex;
    justify-content: center;
}
.logo-icons-copyright .logo img{
    width: 100%;
    height: 110px;
}
.logo-icons-copyright .social-icons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 14px;
    width: 170px;
    height: 32px;
    margin: 20px 0 20px 0;
}
.logo-icons-copyright .social-icons .icons{
    text-decoration: none;
    color:  #969BAB;
}
.fab{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    padding: 7px;
    background-color: rgb(235, 235, 235);
    border-radius: 50%;
}

.logo-icons-copyright .copyright{
    font-size: 18px;
}

/* ================
    Media Queries
   ================ */


/* Mobile devices */

@media only screen and (min-width: 330px) and (max-width: 688px) {
    .copa-america{
        flex-direction: column;
        height: 695px;
    }
    .copa-america-title{
        padding: 0;
    }
    .copa-america-title .top-heading{
        font-size: 36px;
        width: 278px;
        height: 138px;
        margin: 112px 66px 30px 16px;
    }
    .copa-america-title .watch-live{
        margin-left: 16px;
    }
    .copa-america .top-banner{
        padding: 0;
        margin: 50px -25px 61px -26px;
    }
    .top-banner img{
        width: 329px;
        height: 260px;
    }
    .top-players{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo-icons-copyright{
        width: 100%;
        height: 213px;
        margin: 20px 0 150px 0;
    }
    .logo-icons-copyright .logo img{
        width: 80%;
        height: 90px;
    }
    .logo-icons-copyright .social-icons{
        margin: 20px 0 10px 0;
    }
}

/* Tablet devices */

@media only screen and (min-width: 689px) and (max-width: 1025px){
    .copa-america{
        height: 468px;
        padding: 0;
    }
    .copa-america-title{
        padding: 0;
    }
    .copa-america-title .top-heading{
        font-size: 36px;
        width: 278px;
        height: 138px;
        margin: 100px 20px 30px 20px;
    }
    .copa-america-title .watch-live{
        margin-left: 20px;
    }
    .copa-america .top-banner{
        padding: 0;
        margin: 100px 0 0 30px;
    }
    .top-banner img{
        width: 329px;
        height: 260px;
    }

    .top-players{
        margin: 100px 0 80px 0;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 50px;
    }
    
}